/* WORRY ABOUT THE CONTENT FIRST. CLEAN UP THE APPEARNACE LATER.*/


/*
    UNIVERSAL STYLING
*/

:root {

    /* Text */
    --font: Calibri;

}

body {
    font-family: var(--font);
}

/* 
    FRONT PAGE
*/

.center-text{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-list-icon{
    list-style-type: none;
}

    /* CONTACTS */

.contacts-header{
    font-size: 18px;
    margin-bottom: 6px;
    margin-top: 6px;
}

/* get help on this in discord or the prof both are good */

.contacts{
    table-layout: fixed;
    width: auto;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    /* background-color: aqua; */
}

.contacts-item{
    padding: 10px;
    /* border: 2px solid #a570fa; */
}

.icon-img{
    width: 24px;
    height: auto;
    padding: 3px;
}

.fp-header{
    text-align: center;
    line-height: 0.65;
}

.feature-header{
    background-color: #a570fa;
    display: block;
    margin-right: 37.5vw;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bold;
    font-size: 48px;
}

.feature-content{
    font-size: 16px;
}

/*
    IMAGES
*/

.headshot-img{
    width: 280px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}