/* WORRY ABOUT THE CONTENT FIRST. CLEAN UP THE APPEARNACE LATER.*/


/*
    UNIVERSAL STYLING
*/

:root {

    /* Text */
    --font: Calibri;

}

body {
    font-family: var(--font);
    text-align: center;
}

/* 
    FRONT PAGE
*/

.center-text{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    /* LISTS */

.no-list-indent{
    list-style-position: inside;
    padding-left: 0;
}

.no-list-icon{
    list-style-type: none;
}

    /* CONTACTS */

.contacts-header{
    background-color: #a570fa;
    border-radius: 10px;
    display: block;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 26.5vw;
    margin-left: 26.5vw;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* get help on this in discord or the prof both are good */

.contacts{
    table-layout: fixed;
    width: auto;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    /* background-color: aqua; */
}

.contacts-item{
    padding: 10px;
    /* border: 2px solid #a570fa; */
}

    /* BANNERS */

.fp-header{
    line-height: 0.65;
}

.feature-header{
    background-color: #a570fa;
    border-radius: 10px;
    display: block;
    margin-right: 21.5vw;
    margin-left: 21.5vw;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: bold;
    font-size: 48px;
}

.feature-content{
    font-size: 16px;
}

.title{
    background-color: #a570fa;
    border-radius: 24px;
    display: block;
    font-weight: bold;
    font-size: 82px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2vmax;
    padding-bottom: 2vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}

    /* EDUCATION */

.school{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 2px;
    margin-bottom: 2px;
}

.degree{
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 6px;
}

.gpa{
    font-size: 16px;
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 18px;
}

/*
    IMAGES
*/

.icon-img{
    width: 24px;
    height: auto;
    padding: 3px;
}

.headshot-img{
    width: 280px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.small-img{
    width: 560px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* 
    PROJECT PAGES
*/

.condensed-paragraph {
    font-size: 18px;
    text-indent: 12px;
    margin-right: 18vw;
    margin-left: 18vw;
}

.title-project{
    background-color: #a570fa;
    border-radius: 24px;
    display: block;
    font-weight: bold;
    font-size: 64px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2vmax;
    padding-bottom: 2vmax;
    margin-bottom: 2vmax;
}